anaconda-client
anaconda-navigator==2.4.2
anaconda-project
anyio
appdirs==1.4.4
appnope
argon2-cffi
argon2-cffi-bindings
asn1crypto
astroid
asttokens
atomicwrites
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile==1.0
backports.weakref
beautifulsoup4
bleach
blinker==1.6.2
boto3
botocore
Bottleneck
brotlipy==0.7.0
certifi==2023.7.22
cffi
chardet
charset-normalizer
click
clyent==1.2.2
colorama
conda==4.10.3
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
configparser==6.0.0
constantly==15.1.0
cryptography
cssselect==1.1.0
currency.converter==0.5.5
CurrencyConverter==0.17.9
cycler
datashape==0.5.4
debugpy
decorator
defusedxml
dill
entrypoints
et-xmlfile
executing
fastjsonschema
flake8
Flask==2.3.2
fonttools==4.25.0
fs
future
gevent==23.7.0
greenlet==2.0.2
idna
importlib-metadata
inflection
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous==2.1.2
Janitor==0.1.1
jedi
Jinja2
jmespath
json5
jsonpointer==2.1
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
matplotlib-inline
mccabe==0.6.1
mistune
mpmath
multipledispatch==1.0.0
munkres==1.1.4
natsort==8.4.0
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
openpyxl==3.1.2
packaging
pandas==1.5.3
pandas-flavor==0.6.0
pandocfilters
parso
pathlib
patsy
pep8==1.7.1
pexpect
pickleshare
Pillow==9.4.0
platformdirs
pluggy
ply==3.11
pooch
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pycurl==7.45.2
PyDispatcher==2.0.5
pydocstyle
pyflakes
Pygments
pyhere==1.0.0
pyjanitor==0.25.0
PyJWT
pylint
pyls-spyder
pyOpenSSL
pyparsing
pyprojroot
PyQt5==5.15.2
PyQt5-sip==12.11.0
PyQtChart==5.15.2
pyrsistent
PySocks
python-dateutil
python-lsp-jsonrpc
python-lsp-server
pytz
PyYAML==6.0
pyzmq
qtconsole
QtPy
queuelib==1.5.0
requests
requests-toolbelt
rope
ruamel-yaml-conda
s3transfer
scipy==1.10.1
scramp
seaborn
Send2Trash
sip
six
sniffio
snowballstemmer
soupsieve
stack-data
terminado
testpath
toml
tomli
tomlkit
tornado
tqdm
traitlets
typing_extensions
ujson
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.3.6
Whoosh==2.7.4
widgetsnbextension
wrapt
wsgi-oauth2==0.2.2
xarray==2023.7.0
yapf==0.24.0
zipp
zope.event==5.0
zope.interface==6.0
